/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #111, #1a1a1a); /* fond sombre moderne */
    color: #f5f5f5;
    line-height: 1.7;
    scroll-behavior: smooth;
    transition: all 0.3s ease-in-out;
}

/* Navigation */
header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #e1b12c; /* jaune moutarde */
    color: #000000;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links li a:hover {
    background-color: #2c3e50; /* bleu nuit */
    color: #ffffff;
}

/* Menu Burger */
.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #000;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #ffffff;
        width: 100%;
        display: none;
        border-top: 1px solid #ddd;
    }

    .nav-links.show {
        display: flex;
    }

    .burger {
        display: block;
    }
}


/* Sections */
section {
    padding: 80px 40px;
    background-color: #1e1e1e;
    margin: 40px auto;
    border-radius: 12px;
    max-width: 1100px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
}

section h2 {
    font-size: 36px;
    color: #fcd535;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

section p {
    font-size: 18px;
    color: #ccc;
    line-height: 1.8;
}

/* Liens */
a {
    color: #fcd535;
    text-decoration: none;
}
a:hover {
    color: #fff;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    border-top: 1px solid #ddd;
}
